<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TipTap.Blazor Demo</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true">&#9998;</span> Full Editor
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="readonly">
                <span aria-hidden="true">&#128065;</span> Read-only
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="minimal">
                <span aria-hidden="true">&#128203;</span> Minimal
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="json">
                <span aria-hidden="true">{ }</span> JSON mode
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="form">
                <span aria-hidden="true">&#9989;</span> Form / Validation
            </NavLink>
        </div>
    </nav>
</div>
